OPEN_WEBUI_IMAGE=ghcr.io/open-webui/open-webui:main
OPEN_WEBUI_PORT=3000

# Local same-box default would be:
# OPENAI_API_BASE_URL=http://host.docker.internal:8000/v1

# Different box example:
# OPENAI_API_BASE_URL=http://10.0.0.50:8000/v1
OPENAI_API_BASE_URL=http://host.docker.internal:8000/v1
OPENAI_API_KEY=EMPTY

SEARXNG_VERSION=latest
WEB_SEARCH_RESULT_COUNT=3
WEB_SEARCH_CONCURRENT_REQUESTS=1
